In [1]:
## Python Basics

In [2]:
1+2

3

In [3]:
5//2

2

In [4]:
5/2

2.5

In [5]:
type('Dew')

str

In [6]:
a = 10
b = 30
c = a+b
c

40

In [7]:
type(c)

int

In [8]:
True

True

In [9]:
type(True)

bool

In [10]:
str1="A good boy"
str2="A bad boy"

In [11]:
print(str1)
print(str2)

A good boy
A bad boy

In [12]:
str1+" "+str2

'A good boy A bad boy'

In [ ]:
name=input("Enter your Name?")
print(name)

In [ ]:
### Add 2 numbers
a=float(input("Enter number 1?"))
b=float(input("Enter number 2?"))
c=a+b
print("The output is",c)

In [ ]:
### string Formatting
first_name=input("What is your name?")
last_name=input("What is your last name?")
print("My first name is {firstname} and last name is {lastname}".format(lastname=last_name,
                                                                       firstname=first_name))

## Variable Dynamic Typing

In [ ]:
a="Krish"
type(a)

In [ ]:
## Strong Typing
'Krish' + str(1) # -> harus ditambah 'str'

In [ ]:
 1 + int("2")

In [ ]:
### Conditional statements
## if and elif

a=int(input("Enter the number1?"))
b=int(input("Enter the number2?"))
c=a-b
print("The output is", c)
if c<0:
    print("The number is negative ")
elif c>40:
    print("The difference is huge ")
else:
    print("The number is positive ")

In [ ]:
# Program to read integers from user

age = input("What is your age? ")
print ("Your age is: ", age)
type(age)



## Data Structures

1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [ ]:
# List is contain any element

lst=[1,2,3,"Andi","Apriana"]

In [ ]:
type(lst)

In [ ]:
lst[3] # to pick one the list

In [ ]:
lst

In [ ]:
lst[2]="Data Science"
lst

In [ ]:
lst.append("dew")
lst

In [ ]:
# Indexing (Immutable)
str1="andi"  #we cant changr str to str again
str1[3]="y"

## List

The first container type that we will look at is the list. A list represents an ordered, mutable collection of objects. You can mix and match any type of object in a list, add to it and remove from it at will.
Creating Empty Lists. To create an empty list, you can use empty square brackets or use the list() function with no arguments

In [ ]:
l = []
l

In [ ]:
l = list()
l

In [ ]:
l1 = ["dsad", 'b', 'c']
l2 = ['a',6,4.0]

In [ ]:
l1 + l2

In [ ]:
l1.append(l2)

In [ ]:
l1.extend(l2)
l1

In [ ]:
l=list("klmnopqrstuv")
l

## Loops
In general, statements are executed sequentially: The first statement in afunction is excuted first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times. Programming languages provide various control structures that allow for more complicated excution paths.

## For Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

Loop continues untill we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

In [ ]:
l

In [ ]:
str1="Dew"
print(len(str1))
print(len(l))

In [ ]:
lstq=[3,2,1,4,5,6,7,8,9]
len(lstq)

In [ ]:
### Sum of all the elements in the list
### for loop
sum1=0
for i in lstq:
    sum1=sum1+i
    print(sum1)

In [ ]:
%%time
# task1
## first output is sum of odd numbers and sum of even number in this list
lst=[1,2,3,4,5,6,7,8,9]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0: ## this condition to even or odd
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+1
print("The odd sum is",odd_sum)
print("The even sum is",even_sum)

In [ ]:
### for loop with else

In [ ]:
lst=[4,5,6,7,8,1,2,3,4,9,12,13]
sum1=0
for i in lst:
    if i==12:
        break #to excute
    sum1=sum1+1
else:
    print(sum1)

In [ ]:
### For Else block
lst=[4,5,6,7,8,1,2,3,4,9,12,13]
sum1=0
for i in lst:
    if i==1:
        break #to excute
    sum1=sum1+1
else:
    print("This is compulsory to be executed")
print(sum1)

In [ ]:
## Find the sum of even number and odd numbers. If the even sum is greater than 20 or
#odd_sum is greater than 20 implement a break condition.. print(else block)


# task2
## first output is sum of odd numbers and sum of even number in this list
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0: ## this condition to even or odd
        even_sum=even_sum+i
        if even_sum>20:
            break
    else:
        odd_sum=odd_sum+1
        if odd_sum>20:
            break
else:
    print("The even sum is",even_sum)
    print("The odd sum is",odd_sum)

## While Loop

In [ ]:
##While Loop
##sum of the n elements(1,2,3,4,5,6,7,8,9,10)
n=10
i=1
even_sum=0
odd_sum=0
while i<=n:
    if i%2==0:
        even_sum=even_sum+i
        i=i+1
    else:
        odd_sum=odd_sum+i
        i=i+1

print("The even sum is",even_sum)
print("The odd sum is",odd_sum)

## The Range () Function

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(4,50,2))

In [ ]:
sum(range(1,100,2)) #to count

In [ ]:
list(range(100,0,-2)) #to count

## Continue

In [ ]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

In [ ]:
## String and Object

In [ ]:
"This's mine!"

In [ ]:
'This's mine' #use double quote

In [ ]:
# Assign s as a string
s = 'Hello World'
s

In [ ]:
s[1:7]

In [ ]:
s[:]

In [ ]:
s[:-2]

In [ ]:
s[::-1] #reverse

## Basic Built-in String methods

In [ ]:
s='Hello World Dews!'

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# lower case a string
s.lower()

In [ ]:
#split a string by blang space
s.split(sep=' ')

## Location and Counting

In [ ]:
s='Andi Apriana'

In [ ]:
print(s.count('a'))
print(s.count('i'))

In [ ]:
s.find('A')

In [ ]:
s

In [ ]:
s.center(24,'o')

In [ ]:
'hello\thi'.expandtabs()

## is check methods

In [ ]:
s = 'hello234  1'

In [ ]:
# isalnum() will return "True" if all characters in S are alphanumeric.
s.isalnum()

In [ ]:
# isalpha() will return "True" if all characters in S are alphanumeric.
s.isalpha()

In [ ]:
# islower() will return "True" if all characters in S are lowercas and there is at least one character S will return "False".
s.islower()

In [ ]:
#isspace() will return "True" if all characters in S are whitespace.
s.isspace()

In [ ]:
s.istitle()

## Built-in Reg Expression

In [ ]:
s='andi apriana'

In [ ]:
s.split('i')